*.pyc
db.sqlite3
node_modules
assets/bundles
config/configs.ini
config/aws_env.sh
config/le-account.key
config/backupdb.sh
config
db.sqlite3
npm-debug.log
webpack-stats.json
*.zip
django_react/settings/production.py
django_react/settings/development.py
zappa_settings.json

