{% load staticfiles %}
{%block header %}
<div class= "head-nav navbar navbar-fixed-top" role="navigation">
        <!-- <div class="logo">
                <a class="img_icon" href="/dashboard">
                  <img src={% static 'basetemplates/img/sb-logo-color.png' %} alt="."/>
                </a>
                <a class="profile_icon" href="#profile_data" data-toggle="collapse"><i class="fa fa-caret-down"></i></a>
                {% include "navigation/navSecond.html" %}
            </div> -->
            {% include "navigation/mainNav.html" %}
</div>
{% endblock %}