{% block mainNav %}
<div id="main-nav">
        <div class="navbar-header navbar-default">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li class="  active"><a  href="/dashboard/">
                    <i class="c-icon fa fa-dashboard"></i>
                    <span>Dashboard</span></a>
                </li>
                <li class=" "><a  href="/plants/">
                    <i class="c-icon fa fa-leaf"></i>
                    <span>BIOGAS PLANTS</span></a></li>
                <li class=" "><a  href="/technicians/">
                    <i class="c-icon fa fa-wrench"></i>
                    <span>TECHNICIANS</span></a></li>
                <li class=" "><a  href="/jobs/">
                    <i class="c-icon fa fa-suitcase"></i>
                    <span>Jobs</span></a></li>
            </ul>
        </div>
    </div>
    {% endblock %}