{% load staticfiles %}
{% block mainNav %}
<nav class="navbar-header" id="main-nav">
    <div class="navbar-default">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="logo">
            <a class="img_icon" href="/dashboard">
                <img src={% static 'basetemplates/img/sb-logo-color.png' %} alt="." />
            </a>
            <a class="profile_icon" href="#profile_data" data-toggle="collapse">
                <i class="fa fa-caret-down"></i>
            </a>
            {% include "navigation/navSecond.html" %}
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav ">
            <li >
                <a href="/dashboard">
                    <i class="c-icon fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/plants">
                    <i class="c-icon fa fa-leaf"></i>
                    <span>Biogas Plants</span>
                </a>
            </li>
            <li>
                <a href="/technicians">
                    <i class="c-icon fa fa-wrench"></i>
                    <span>Technicians</span>
                </a>
            </li>
            <li>
                <a href="/jobs">
                    <i class="c-icon fa fa-suitcase"></i>
                    <span>Jobs</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}