{% load staticfiles %}


<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>Smart Biogas Network</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">


  <!-- BEGIN CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'basetemplates/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'basetemplates/css/base.css' %}">  
  <link rel="stylesheet" type="text/css" href="{% static 'basetemplates/css/BootSideMenu.css' %}">
  <!-- BEGIN CSS -->
</head>

<body>

  {% load render_bundle from webpack_loader %}
  <div  id="header">
      {% include "navigation/header.html" %}
  </div>
  
  <!-- Dashboard Section -->
  {% block content %} {% endblock %}
  
  {% block footer %} 
   <!-- Footer Section -->
   <footer class="footer navbar-fixed-bottom">
    <p class="text-center text-white">© smart biogas connect 2017. All Rights Reserved.</p>
 </footer>
 {% endblock %}
<!--/Footer Section -->

  <!-- BEGIN JS-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'basetemplates/js/tabs.js' %}" type="text/javascript"></script>

  <script src="{% static 'basetemplates/js/BootSideMenu.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebar').BootSideMenu({
        side: "left",
        pushBody: false,
        duration: 1000
      });
    });
  </script>

  <!-- BEGIN JS-->
  {% include "svg_icons_sprite.html" %}
</body>

</html>