@import '../base/variables';

.ReactTable{
    .rt-table{
        border: 2px solid #6e6e6e;
        text-align: center;
    }
    .rt-tr{
        color: white;
    }
    .-sort-asc,{
        box-shadow: inset 0 3px 0 0 $yellow!important;
    }
    .-sort-desc{
        box-shadow: inset 0 -3px 0 0 $yellow!important;
    }
    .-pageInfo{
        color:white;
        .-pageJump{
            color:$yellow;
            input{
                background: rgba(0,0,0,0.1);
            }
        }
    }
    .-pageSizeOptions{
        select{
            color:$yellow;
            background: rgba(0,0,0,0.1)!important;
        }
    }
}

/* MEDIA Queries 
================================================================= */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
    
    }
    
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        
    }
    
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    
    }
    
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    
    }
    /* iPad */
    @media all and (min-width:768px) and (max-width:1023px) {
       
    }
    
    /*==========  Non-Mobile First Method  ==========*/
    
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    
    }
    
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
       
    
    }
    
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        
    }
    
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    
    }
    
    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
    
    }
    
    @media all and (min-width:1024px) {
    
    }
    
    
    @media all and (max-width:767px) {
   
    
    }
    
    @media all and (max-width: 480px){ /* When screen size is 480px */
    
     
    }
} 