@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* COLORS
================================================================= */
$greendark:#315025;
$greenlight: #529C44;
$yellow:#F1B123;
$yellowlight:#F8D891;
$bluelight:#96D7E2;
$red: #ED1C24;
$greydark:#2D2D2D;



/* FONTS
================================================================= */
$link-primary: $greendark;
$link-secondary: $yellow;

$font-primary: 'Roboto', 'Open Sans', sans-serif;

/* SIZES - Basic height and width
================================================================= */
/* Header height */
$header-l-screen: 100px;
$header-m-screen: 120px;

/* Margin -top */
$marin-top-l: 100px;
$margin-top-m: 150px;

/*screen size */ 
$screen-l: 1024px;
$screen-m: 768px;
$screen-s: 480px;